<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>

		<%- include(views+'/head.html') %>
		<script type="text/javascript" src="index.js"></script>
		<link rel="stylesheet" type="text/css" href="index.css" />
	</head>
	<body>
		<%- include(views+'/pre.html') %>

		<div id="global_controls" class="bubble inline">
			<%- include(views+'/global_controls.html') %>
			<button id="start_over">Start Over</button>
			<div class="space">
				<button id="show_log">Show Log</button>
			</div>
		</div>

		<div id="game_controls_div"></div>
		<div id="player_states" class="flex"></div>
		<div id="board_state"></div>
		<div id="deck_state"></div>
		<div id="policies_parent">
			Policies:
			<div id="policies"></div>
		</div>
		<div>
			Last Ticket:
			<div id="last_ticket"></div>
		</div>
		<div id="votes"></div>

		<div>
			<div>Fascists need 6 policies to win.</div>
			<div>Liberals need 5 policies to win.</div>
			<div>
				The fascists win if Hitler is elected chancellor after 3 fascist
				policies have been passed.
			</div>
			<div>Veto power is unlocked after fascists have 5 policies.</div>
			<div id="dynamic_rules"></div>
		</div>

		<%- include(views+'/post.html') %>
	</body>
</html>
